<!DOCTYPE html>
{%  load staticfiles %}
<html>
    <head>
        <title> Template homework for the about page </title>
    </head>
    <body>
        <h1>This tutorial has been put together by {{ your_name }} </h1>
        <div>
            Go back to the <br />
            <a href='/'>main</a> page. Otherwise, go to the <a href='/rango/'>second</a> page." <br />
        </div>

        <div>
            <img src = "{%  static  "images/thetest.png" %}" alt =" About image"/>
        </div>
    </body>
</html>