<!DOCTYPE html>
<html>
<head>
    <title>Rango category</title>
</head>
<body>
    <div>
        {% if category %}
        <!--'category' in a key in context field for the template-->
            <h1>{{ category.name }}</h1>
            {% if pages %}
                <ul>
                {% for page in pages %}
                    <!--'pages' is a key in the context dictionary-->
                    <li><a href="{{ page.url }}">{{ page.title }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
            {% endif %}

        {% else %}
            The current category does not exist!
        {% endif %}
        <!--Link to the add page to the current category-->
        <a href="/rango/category/{{ category.slug }}/add_page/">Add page</a><br />
        <!--There is no need to use add_page.html here since html should be used for the template only-->
         Return <a href= "/">Home</a>
    </div>

</body>
</html>