{% extends 'rango/base.html' %}
{% load staticfiles %}
{% block title_block %}
    <title>Rango title</title>
{% endblock %}

{% block body_block %}
    <h1>Rango says...</h1>
    <div>
        Hey there partner! <br/>
    </div>
    <h2>Most liked category</h2>
    <ul>
        {% if categories %}
            {% for category in categories %}
                <li><a href="{% url 'rango:show_category' category.slug %}">{{ category.name }}</a>. #likes: {{ category.likes }}</li>
            {% endfor %}
        {% else %}
            <strong>There are no category present.</strong>
        {% endif %}
    </ul>
    <h2>Most viewed pages</h2>
    <ul>
        {% if most_view_pages %}
            {% for page in most_view_pages %}
                <li><a href = "{{ page.url }}">{{ page.title }}</a>, #views: {{ page.views }}</li>

            {% endfor %}
        {% endif %}
    </ul>
    <!--Add the add category page-->
    <a href="{% url 'rango:add_category' %}">Add a new category</a><br/>
    <img src = "{% static "images/mascot.jpeg" %}" alt ="Picture of Rango" /> <!--This call will replace static with STATIC_URL deffined in the settings.py--->

{% endblock %}

