<!DOCTYPE html>
{% load staticfiles %} <!--We will be using static files in the template-->
<html>
    <head>
            <title>Rango title </title>
    </head>

    <body>
        <h1>Rango says...</h1>
    <div>
        Hey there partner!<br />
    </div>

    <!--Display 5 categories-->
    <div>
    <ul>
        {% if categories %}
            {% for category in categories %}
                <li><a href = "rango/category/{{ category.slug }}">{{ category.name }} </a>, #likes: {{ category.likes }}</li><!--Define a list item <li> is for listing the elements, <ul> is the unordered list-->
            {% endfor %}
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
    </ul>
    </div>

    <div>
        <a href="/rango/about">About</a><br />
        <img src = "{% static "images/mascot.jpeg" %}"
             alt ="Picture of Rango" /> <!--This call will replace static with STATIC_URL deffined in the settings.py--->
    </div>

    </body>
</html>